################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GOVE.Infrastructure/GOVE.Infrastructure/obj/Debug/net8.0
/GOVE.Infrastructure/GOVE.Infrastructure/obj
